/* App.css */
.header {
  background-color: #ffffff;
  color: #fff;
  display: flex; /* Sử dụng Flexbox */
  justify-content: center; /* Chính giữa theo chiều ngang */
  align-items: center; /* Chính giữa theo chiều dọc */
}

.slidebar {
  display: flex;
  flex-direction: row; /* Xếp theo hàng ngang */
  padding: 20px;
}

.slidebar a {
  text-decoration: none;
  color: black; /* Màu chữ mặc định */
  margin-right: 200px; /* Khoảng cách giữa các mục */
  transition: color 0.3s; /* Hiệu ứng chuyển màu */
}

.slidebar a:hover {
  color: rgb(24, 160, 88); /* Màu chữ khi di chuột qua */
}

.slidebar a:last-child {
  margin-right: 0; /* Không có khoảng cách cho mục cuối cùng */
}

.content {
  padding: 20px;
  flex: 1;
}
